nav {
  padding-top: 20px;
}

.loader {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 10;
}

.loader__text {
  display: table-cell;
  vertical-align: middle;
}

.none {
  display: none;
}
